.headerContainer {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr repeat(2, max-content);
    place-content: end;
    place-items: center;
}

/* style for button */
.headerContainer>div:nth-child(1) {
    width: fit-content;
    place-self: start;
    align-self: center;
}

.notificationContainer {
    position: relative;
}

.notificationContainer>svg {
    cursor: pointer;
}

.notificationContainer>svg:hover {
    animation: notificationRing .7s linear;
}

.notificationContainer>svg:hover .newNotificationCircle {
    animation: notificationRing .7s linear;
}

.newNotificationCircle {
    position: absolute;
    top: 3px;
    right: 5px;

    width: .7rem;
    height: .7rem;
    border-radius: 100%;
    background-color: red;
}

@keyframes notificationRing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(40deg);
    }

    50% {
        transform: rotate(-40deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (min-width: 810px) {
    .headerContainer {
        grid-template-columns: repeat(3, max-content);
    }

    /* style for button */
    .headerContainer>div:nth-child(1) {
        width: 100%;
        place-self: auto;
        align-self: auto;
    }
}
