:root {
  /* --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
  --main-color: #F0F0F0;
  --dark-background: #F0F0F0;
  --link-background: #D6D6D6;
  
  --Netflix-Color: #E50914;
  --Max-Color: #941DE8;
  --Prime-Color: #1399FF;

  --Status-Green: #9CDD75;
  --Status-Red: #F25A46;
  
  /* 1rem = 10px */
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */