/* Mobile first */
.appContainer {
  height: 100vh;

  display: grid;
  grid-template-columns: 20% 80%;
}

.dashboardContainer {
  padding: 2rem;
  
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* @media (min-width: 1024px) {
  .appContainer {
    grid-template-columns: 20% 80%;
  }
} */