/* Mobile first */
.container {
    font-size: 1.2rem;
}

.form {
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

.inputContainer {
    display: grid;
    gap: 1rem;
}

.inputContainer > span {
    text-align: right;
}

.loginButton {
    padding: 1.5rem;
    border-radius: 10px;
    transition: 0.2s;
}

.loginButton:hover {
    width: 100%;
    box-shadow: 0 0.4em 0.4em -0.4em #b200b2;
    transform: translateY(-0.25em);
}

.signUpLink {
    text-align: center;
}

@media (min-width: 1024px) {
    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .form {
        padding: 5rem;
        width: 80%;
        margin: 0 auto;
        align-content: center;
    }

    .wallpaperContainer {
        background-color: #b200b2;
    }
}

@media (min-width: 1336px) {
    .form {
        width: 70%;
    }
}

@media (min-width: 1920px) {
    .form {
        width: 60%;
    }
}
